name: Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml
